        body {
            font-family: 'poppins'; 
            text-align:center;
            color: #094264;
            background-image: url("<?php echo $backgroundImage; ?>"); 
            transition: background-image 0.5s; 
        }

        .p {
            position: absolute;
            top: 25px;
            left: 50px;
        }

        .container {
            display: flex; 
            height: 100vh;
        }

        .box1 {
            background-image: url("../uploads/background.jpeg");
            position: absolute;
            top: 100px;
            width: 250px;
            height: 150px;
            cursor: pointer;
            left: 60px;
            border: 1px solid #ccc;
            border-radius: 25px;
            background-size: cover; 
            margin: 0 10px; 
        }

        .box2 {
            background-image: url("../uploads/background2.jpeg");
            position: absolute;
            top: 100px;
            width: 250px;
            height: 150px;
            cursor: pointer;
            left: 350px;
            border: 1px solid #ccc;
            border-radius: 25px;
            background-size: cover; 
            margin: 0 10px; 
        }

        .checkmark {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
            background-color: #A5CBD6;
            border-radius: 50%;
            display: none;
        }

        .link {
            color: #094264;
            padding: 5px 25px;
            cursor: pointer;
            top: 460px;
            position: absolute;
            right: 100px;
            z-index: 999; 
        }

        .box1.selected .checkmark,
        .box2.selected .checkmark {
            display: block;
        }