

        .logo {
            position: absolute;
            top: 15px;
            left: 15px; 
            width: 25px; 
            height: auto; 
            z-index: 999; 
        }

        .header-text {
            font-size: 14px; 
            color: #358597; 
            font-weight: bold;
            position: absolute;
            top: 16px;
            left: 55px;
        }

        .container {
            display: flex; 
            height: 100vh; 
            justify-content: center; 
            align-items: center; 
        }

        .box {
            top: 20px;
            width: 900px;
            height: 430px;
            position: relative;
            background-color: #f2f2f2;
        }

        .box1 {
            width: 200px;
            height: 430px; 
            cursor: pointer;
            background-color: #E0E8FF; 
            position: absolute; 
            top: 275px; 
            left: 189px; 
            transform: translate(-50%, -50%); 
            box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2); 
        }

        .box2 {
            width: 290px;
            height: 430px; 
            cursor: pointer;
            background-color: #E0E8FF; 
            position: absolute; 
            top: 275px; 
            right: -55px; 
            transform: translate(-50%, -50%); 
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); 
        }

        .link {
            text-decoration: none; 
            color: #094264; 
            cursor: pointer;
            margin-top: 5px;
            position: absolute;
            left: 92px;
            z-index: 999; 
        }