.logo {
    position: absolute;
    top: 15px;
    left: 15px; 
    width: 35px; 
    height: auto; 
    z-index: 999; 
}

.header-text {
    font-size: 20px; 
    color: #358597; 
    font-weight: bold;
    position: absolute;
    top: 8px;
    padding: 10px;
    left: 55px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: absolute;
    top: 80px;
    left: 600px;  
    z-index: 999; 
}
.p {
    background-color: #A5CBD6;
    border: 1px solid #fff;
    color: #094264;
    padding: 0px 15px;
    border-radius: 5px;
    margin-top: 250px;
    position: relative;
    left: 580px;
    width: 130px;
    z-index: 999; 
    font-size: 16px;
}

.p2 p:nth-child(1) {
    font-size: 18px;
    position: absolute;
    top:370px;
    left: 100px;
    display: inline-block; 
    margin-right: 10px;
}

.p2 p:nth-child(2) {
    font-size: 18px;
    position: absolute;
    top:430px;
    left: 100px; 
    display: inline-block; 
}

.p3 {
    position: absolute;
    top:370px;
    left: 100px;
    cursor: pointer;
}
.p3 a{
    font-size: 16px;
    text-decoration: none;
    color: #094264;
    background-color: #A5CBD6;
    border: 1px solid #fff;
    color: #094264;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 130px;
    position: absolute;
    width: 150px;
    height: 50px;
    text-align: center;
    left: -5px;
    z-index: 999; 
}

.link {
    font-size: 18px;
    text-decoration: none; 
    color: #094264; 
    cursor: pointer;
    margin-top: 280px;
    position: absolute;
    left: 92px;
    z-index: 999; 
}