

        .logo {
            position: absolute;
            top: 15px; 
            left: 15px; 
            width: 25px; 
            height: auto; 
            z-index: 999; 
        }

        .header-text {
            font-size: 14px; 
            color: #358597; 
            font-weight: bold;
            position: absolute;
            top: 16px;
            left: 55px;
        }

        .container {
            text-align: center;
            background-color: #EDF2FF;
            padding: 20px;
            border-radius: 25px;
            width: 280px;
            height: 430px;
        }

        .form-group {
            margin-bottom: 25px;
            margin: 3px;
            text-align: left;
        }
        
        h2 {
            margin-bottom: 25px;
            position: relative; 
        }

        h2::after {
            content: "";
            display: block;
            width: 280px;
            height: 1px;
            background-color: #094264;
            position: absolute;
            bottom: -8px 

        }

        .p{
            text-align: left;
            font-size: 10px;
            margin: 10px;
        }

            label {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="password"] {
            padding: 8px 67px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #A5CBD6;
            color: #fff;
            padding: 10px 100px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .p3 a{
                    text-decoration: none;
                    color: #006DAB; 
                }